<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        ul {
            padding: 0px;
        }

        li {
            cursor: pointer;
            text-decoration: underline;
            padding: 10px;
        }
    </style>
</head>

<body>
    <div id="app">
        <login v-if="step==='login'" @success="onLoginSuccess"></login>
        <projects v-if="step==='projects'" ref="projects" @selected="onProjectSelected"></projects>
        <project-details v-if="step==='details'" ref="details" @back="backToProjects"></project-details>
    </div>
    <template id="details_template">
        <div>
            <button @click="back">Back to projects</button>
            <ul>
                <p v-show="translations.length===0">No translations detected</p>
                <li v-for="(trans,index) in translations" :key="index">
                    <p v-text="trans.key"></p>
                    <div v-for="lang in languages" :key="lang">
                        <label v-text="lang.toUpperCase()"></label>
                        <input v-model="trans[lang]" :placeholder="lang" @change="save(trans.key,lang,trans[lang])" />
                    </div>
                </li>
            </ul>
        </div>
    </template>
    <template id="projects_template">
        <div>
            <p v-show="projects.length===0">No projects available</p>
            <ul>
                <li v-for="pr in projects" @click="onProjectSelected(pr)" :key="pr" v-text="pr"></li>
            </ul>
            <button @click="logout">Logout</button>
        </div>
    </template>
    <template id="users_template">
        <div v-show="show">
            <label>Select User</label>
            <select ref="select" v-model="form.login">
                <option v-for="user in users" :key="user" v-text="user.toUpperCase()"></option>
            </select>
            <input autocomplete="" v-model="form.pwd" placeholder="password" style="max-width:80px" type="password" />
            <button @click="enter">Enter</button>
        </div>
    </template>
    <script type="module">
        import Vue from 'https://cdn.jsdelivr.net/npm/vue@2.6.12/dist/vue.esm.browser.js'
        import '/fql.js'
        Vue.component('login', {
            template: document.querySelector('#users_template').innerHTML,
            data() {
                return {
                    show: false,
                    users: [],
                    form: {
                        login: '',
                        pwd: ''
                    }
                }
            },
            async created() {
                this.users = (await this.$fql('getUsers'))
                if (localStorage.getItem('token') && await this.$fql('checkToken', [localStorage.getItem('token')])) {
                    this.$emit('success')
                } else {
                    this.show = true
                }
            },
            mounted() {
                this.$refs.select.focus()
            },
            methods: {
                async enter() {
                    let tokenRes = await this.$fql('login', { ...this.form })
                    if (tokenRes) {
                        localStorage.setItem('token', tokenRes.token)
                        this.$emit('success')
                    }
                }
            }
        })
        Vue.component('projects', {
            template: document.querySelector('#projects_template').innerHTML,
            data() {
                return {
                    projects: []
                }
            },
            methods: {
                async refresh() {
                    this.projects = await this.$fql('getLoggedUserRights', [localStorage.getItem('token')])
                    if (this.projects.find(pr => pr.toLowerCase() == localStorage.getItem('pr'))) {
                        this.onProjectSelected(localStorage.getItem('pr'))
                    }
                },
                onProjectSelected(pr) {
                    localStorage.setItem('pr', pr)
                    this.$emit('selected', pr)
                },
                logout() {
                    localStorage.removeItem('token')
                    window.location.reload()
                }
            }
        })
        Vue.component("project-details", {
            template: document.querySelector('#details_template').innerHTML,
            data() {
                return {
                    translations: [],
                    languages: [],
                    pr:""
                }
            },
            methods: {
                async refresh(pr) {
                    this.pr = pr
                    this.translations = await this.$fql('getTranslations', [pr])
                    this.languages = this.translations.length > 0 ? Object.keys(this.translations[0]).filter(k => k !== 'key') : []
                },
                save(key, lang, value) {
                    console.warn('SAVE', {
                        key, lang, value
                    })
                    this.$fql('saveTranslation',[this.pr,key,lang,value])
                },
                back() {
                    localStorage.setItem('pr', '')
                    this.$emit('back')
                }
            }
        })
        new Vue({
            el: '#app',
            data() {
                return {
                    step: 'login'
                }
            },
            methods: {
                onLoginSuccess() {
                    this.step = 'projects'
                    this.$nextTick(() => {
                        this.$refs.projects.refresh()
                    })
                },
                onProjectSelected(pr) {
                    console.log('onProjectSelected')
                    this.step = 'details'
                    this.$nextTick(() => {
                        this.$refs.details.refresh(pr)
                    })
                },
                backToProjects() {
                    this.step = 'projects'
                    this.$nextTick(() => {
                        this.$refs.projects.refresh()
                    })
                }
            }
        })
    </script>
</body>

</html>